<div class="container">
    <h1>Cadastro de Usuário</h1>
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Informe seu nome">
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="Informe seu e-mail">
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Informe sua senha">
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
      <button type="reset" class="btn btn-link">Cancelar</button>
    </form>
  </div>
  