<div class="container">
    <h1>Pesquisa de Psicólogos</h1>
    <form>
      <div class="form-group">
        <label for="nome-psicologo">Nome do Psicólogo</label>
        <input type="text" class="form-control" id="nome-psicologo" placeholder="Informe o nome do psicólogo">
      </div>
      <div class="form-group">
        <label for="especialidade">Especialidade</label>
        <input type="text" class="form-control" id="especialidade" placeholder="Informe a especialidade">
      </div>
      <div class="form-group">
        <label for="localizacao">Localização</label>
        <input type="text" class="form-control" id="localizacao" placeholder="Informe a localização">
      </div>
      <button type="submit" class="btn btn-primary">Pesquisar</button>
      <button type="reset" class="btn btn-link">Limpar</button>
    </form>
    <div class="resultado-pesquisa">
      <h2>Resultado da Pesquisa</h2>
      <ul>
        <li>Nome: João Silva</li>
        <li>CRM: 123456</li>
        <li>Especialidade: Psicologia Clínica</li>
        <li>Localização: São Paulo</li>
        <li>Horário de Atendimento: Segunda a Sexta, das 9h às 17h</li>
        
      </ul>
    </div>
  </div>